* {
  margin: 0;
  padding: 0;
}

html {
  /* 10px/16px=0.625=62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

/* centers it horizontally */
.card-outline {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: hsl(0, 0%, 100%);
  max-width: 25rem;
  margin: auto 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 1.2rem;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.qr-img {
  border-radius: 10px;
  height: auto;
  margin-bottom: 1.4rem;
}

.qr-img,
.heading,
.content {
  width: 100%;
}

.heading,
.content {
  box-sizing: border-box;
  padding: 0 1.1rem 1.2rem 1.1rem;
  text-align: center;
}

.heading {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 2rem;
}

.content {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 1.35rem;
  margin-bottom: 1.3rem;
}

/* 1440px= 90em  */
@media (max-width: 90em) {
  .card {
    max-width: 23rem;
  }

  .heading,
  .content {
    padding: 0 0.9rem 1.2rem 0.9rem;
  }

  .heading {
    font-size: 1.8rem;
  }

  .content {
    font-size: 1.3rem;
  }
}

/* 384px= 24em */
@media (max-width: 24em) {
  .card {
    max-width: 22rem;
  }

  .heading {
    font-size: 1.7rem;
  }

  .content {
    font-size: 1.1rem;
  }
}
